/* ==========
 HERO SECTION
 ========== */

.hero-section {
  background-color: #e7816b;
  background-image: url("./../../public/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: 0 6.375rem;
  height: 52.6875rem;
  padding-top: 5rem;
  position: relative;
  overflow: hidden;
}

/* TEXT CONTENT */

.hero-section__text-content {
  color: #fff;
  text-align: center;
  margin: 0 auto 5rem auto;
  width: 87.2%;
}

.hero-section__text-content h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.25rem;
  margin: 0 auto 0.875rem auto;
  max-width: 35.8125rem;
}

.hero-section__text-content p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  max-width: 27.8125rem;
  margin: 0 auto 1.5rem auto;
}

.hero-section__text-content a {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #333136;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1.125rem 1.5625rem 1rem 1.5rem;
}

/* HERO IMAGE */
.hero-section img {
}

/* ==========
 LINK GRID SECTION
 ========== */
.link-grid-section {
  width: 87.2%;
  max-width: 31.25rem;
  margin: 0 auto;
  padding: 7.5rem 0;
}

.link-grid__col-1 {
  margin-bottom: 1.5rem;
}

.link-grid__col-2 {
  display: grid;
  gap: 1.5rem;
}

.link-grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 0.9375rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
  padding: 90.16px 0 89.87px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.link-grid__item__web-design {
  background-image: url("/assets/home/tablet/image-web-design.jpg");
}

.link-grid__item__app-design {
  background-image: url("/assets/home/tablet/image-app-design.jpg");
}

.link-grid__item__graphic-design {
  background-image: url("/assets/home/tablet/image-graphic-design.jpg");
}

.link-grid__item h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 1.4px;
  margin-bottom: 11.97px;
}

.link-grid__item span {
  font-size: 0.9375rem;
  letter-spacing: 0.3125rem;
}

/* ==========
 FEATURES SECTION
 ========== */
.features-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 87.2%;
  max-width: 31.25rem;
  margin: 0 auto 19.4375rem auto;
}

.feature {
  color: #333136;
  text-align: center;
}

.feature img {
  width: 12.625rem;
  height: auto;
  margin: 0 auto 3rem auto;
}

.feature span {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.625rem; /* 130% */
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.feature p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.features-section__bg-img {
  display: none;
}

@media (min-width: 48rem) {
  /* ==========
  HERO SECTION
  ========== */

  .hero-section {
    border-radius: 0.9375rem;
    background-position: right -121.55px top 101.5px;
    width: 89.7135416667%;
    padding-top: 3.75rem;
    margin: 0 auto;
  }

  /* TEXT CONTENT */

  .hero-section__text-content {
    margin: 0 auto 4.3125rem auto;
    width: 35.8125rem;
  }

  .hero-section__text-content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 auto 0.5rem auto;
  }

  .hero-section__text-content p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0 auto 1.1875rem auto;
  }

  /* HERO IMAGE */

  /* ==========
  LINK GRID SECTION
  ========== */
  .link-grid-section {
    width: 89.7135416667%;
    max-width: unset;
  }

  .link-grid__item {
    padding: unset;
    height: 200px;
  }

  .link-grid__item h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
  }

  /* ==========
  FEATURES SECTION
  ========== */
  .features-section {
    gap: 2rem;
    width: 89.7135416667%;
    max-width: 48rem;
    margin: 0 auto 20.6875rem auto;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .feature img {
    margin: 0;
  }

  .feature__text-content {
    width: 27.4375rem;
  }
}

@media (min-width: 90rem) {
  /* ==========
  HERO SECTION
  ========== */

  .hero-section {
    background-position: right 0 top 0;
    width: 77.1527777778%;
    height: 40rem;
    padding: 9.0625rem 0 9.0625rem 8.55085508551%;
    margin: 0 auto;
  }

  /* TEXT CONTENT */

  .hero-section__text-content {
    margin: 0;
    text-align: left;
    width: 33.75rem;
  }

  .hero-section__text-content h1 {
    margin: 0 0 0.6875rem 0;
  }

  .hero-section__text-content p {
    margin: 0 0 2.5rem 0;
  }

  .hero-section__text-content a {
    transition: all 0.3s ease-in-out;
  }

  .hero-section__text-content a:hover {
    color: #fff;
    background: #ffad9b;
  }

  /* HERO IMAGE */

  /* ==========
  LINK GRID SECTION
  ========== */
  .link-grid-section {
    display: grid;
    grid-template-columns: repeat(2, 48.6948694869%);
    gap: 2.700270027%;
    width: 77.1527777778%;
    padding: 10rem 0;
  }

  .link-grid__col-1,
  .link-grid__col-2 {
    height: 40rem;
  }

  .link-grid__item {
    height: 100%;
  }

  .link-grid__item:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.9375rem;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(231, 129, 107, 0.9);
    background-blend-mode: lighten;
  }

  .link-grid__item__web-design {
    height: 100%;
    background-image: url("/assets/home/desktop/image-web-design-large.jpg");
  }

  .link-grid__item__app-design {
    background-image: url("/assets/home/desktop/image-app-design.jpg");
  }

  .link-grid__item__graphic-design {
    background-image: url("/assets/home/desktop/image-graphic-design.jpg");
  }

  /* ==========
  FEATURES SECTION
  ========== */
  .features-section {
    flex-direction: row;
    gap: 1.875rem;
    width: 77.1527777778%;
    max-width: 69.4375rem;
    margin: 0 auto;
    padding-bottom: 23.75rem;
    position: relative;
  }

  .features-section__bg-img {
    display: block;
    position: absolute;
    top: 7.75rem;
    right: 0;
    transform: rotate(180deg);
    z-index: -1;
  }

  .feature {
    flex-direction: column;
    text-align: center;
  }

  .feature img {
    margin-bottom: 3rem;
  }

  .feature__text-content {
    width: 21.875rem;
  }
}
